- title = "Tokenising the Future - Pitchday"
- description = "Dream, collaborate, create and prosper."


doctype html
html(lang="en" data-host=host)
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		include includes/GTMhead.pug
		<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
		link(rel="stylesheet" href="/css/main.css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet")
		meta(property="og:title" content=title)
		meta(property="og:type" content="website")
		meta(property="og:url" content="https://pitchday.io")
		meta(property="og:description" content=description)
		meta(property="og:image" content="https://pitchday.io/img/open-graph.png")
	body
		include includes/GTMbody.pug
		header
			.container
				img(src="/img/logo.svg" alt="Pitchday")
		section.hero
			.container
				h1 Tokenising The Future
				blockquote We vision the old ways of collaborative creation being reborn into a new system. A system of digital democracy and an equalized economy. Inclusion made possible by blockchain and cryptocurrency 
					a(href="https://www.coindesk.com/ico-investments-pass-vc-funding-in-blockchain-market-first/" target="_blank")
		section.community
			.container
				h2.community__h2 Join the Pitchday Community
				ul.community__channels
					li
						a(href="https://t.me/pitchday" target="_black")
							img(src="/img/telegram.svg" alt="Telegram")
							| Telegram
					li
						a(href="https://pitchday.slack.com" target="_black")
							img(src="/img/slack.svg" alt="Slack" )
							| Slack
				h3.community__h3 We are 
					span.community__counter happy
					|  members

				p.community__members Fetching...
				div.community__separator
				h2 Subscribe for updates
				form(action="/api/newsletter" method="post")
					input(placeholder="Enter your email" name="email")
					button Subscribe
		script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
		script(src="/js/main.js")
		.
			<script>
			!function() {
			  var t;
			  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
			  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
			  t.factory = function(e) {
			    return function() {
			      var n;
			      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
			    };
			  }, t.methods.forEach(function(e) {
			    t[e] = t.factory(e);
			  }), t.load = function(t) {
			    var e, n, o, i;
			    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
			    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
			    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
			  });
			}();
			drift.SNIPPET_VERSION = '0.3.1';
			drift.load('3vgi8k5b6r8z');
			</script>